body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6e6868;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: flex-start;
}
nav ul li{
    margin: 20px;
}
nav a {
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    color:rgb(8, 5, 5);
}

h1 {
    font-size: 36px;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

p {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}
